websockets>=12.0
python-dotenv>=1.0.0
supabase>=2.3.5
twilio>=9.0.4
dateparser>=1.1.8
python-dateutil>=2.9.0
google-auth>=2.34.0
google-auth-oauthlib>=1.2.0
google-api-python-client>=2.133.0
google-auth-httplib2>=0.2.0
requests>=2.32.3
recurrent>=0.4.0